* {
    box-sizing: border-box;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿MyriadPro-Regular;
}

section {
    width: 1280px;
    margin: 0 auto;

}

.logo-link {
    display: inline-block;
    font-size: 110px;
    text-decoration: none;
    color: #000000;
    margin-top: 60px;
    margin-bottom: 45px;
}

span {
    color: #4bcaff;
}

header {
    margin-bottom: 50px;

}

header a {
    border: 1px solid transparent;
}

.header-menu-link:hover {
    background-color: #222f3a;
    border: 1px solid #818181;
    right: 2px;
}

.header-menu {
    display: inline-block;
    width: 100%;
    background-color: #35444f;
    height: 70px;

}

.header-menu-link {
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    font-size: 24px;
    padding: 21px 30px;
    height: 70px;

}

.first-link {
    margin-left: 200px;
}


aside {
    vertical-align: top;
    display: inline-block;
    border: 1px solid #35444f;
    font-size: 30px;
    width: 350px;
}

.aside-menu {
    margin: 0;
    padding: 0;
    list-style-type: none;

}

li {

    width: 348px;
    height: 68px;
}

.side {
    padding: 17px 44px;
    display: block;
    width: 100%;
    height: 100%;
    color: #485863;
    text-decoration: none;
}

aside ul li:hover {
    background-color: #dbdbdb;
    color: black;
}


.side:hover {
    color: black;
    padding-left: 48px;
}

main {
    display: inline-block;
    width: calc(100% - 404px);
    margin-left: 50px;

}

img {
    cursor: pointer;
    padding: 85px 277px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.scale {
    display: inline-block;
    overflow: hidden;
}

.scale img {
    transition: 1s;

}

.scale img:hover {
    transform: scale(1.1);

}

.border {
    border: 1px solid black;
}

main p {
    font-size: 21px;
    margin: 30px 40px 0 30px;
}


footer {
    display: inline-block;
    width: 100%;
    height: 70px;
    margin-top: 40px;

    background-color: #b4b7ba;
    padding-left: 40px;
    vertical-align: center;
}

.footer-menu {

    list-style-type: none;
}

.footer-link {
    text-decoration: none;
    display: inline;


    font-size: 24px;
    color: #0c1927;

}

.footer-a {
    text-decoration: none;
    margin-left: 25px;
    text-align: center;

    font-size: 24px;
    color: #0c1927;


}

footer p {
    padding-left: 290px;
    display: inline-block;
    font-size: 24px;

}

.footer-a:hover {
    color: #3181a6;
    border-bottom: 1px solid #3181a6;
}